*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

.color_nav, .footer{
    background-color: black;
}

.header-bg{
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;  
    opacity: 0.5;
    height: 315px;
    object-fit: cover;
    position: absolute;
}

.texto{
    position: relative;
    height: 315px;
}

.header h1{
    font-size:60px;
    font-family: 'Courier New', Courier, monospace;
}

p{
    text-align: justify;
}